nav{
    padding: 20px 0;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 99;
    margin-top: 50px;
}

nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.nav-items{
   display: flex;
   column-gap: 40px; 
}
